/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/public/js/*
!/public/js/angular
!/public/js/Jcrop-master
!/public/js/jquery
!/public/js/minified
!/public/js/ng
!/public/js/recordRTC
public/css/*.map
public/css/minified/*
public/js/minified/login/
public/js/minified/public/
public/js/minified/candidate/
public/js/minified/employers/
public/css/app.css
public/css/candidate.css
public/css/minified/style.min.css
public/css/registration.css
public/fonts/vendor/bootstrap/glyphicons-halflings-regular.svg
public/js/app.js
public/js/candidate/role-app.js
public/mix-manifest.json
public/js/minified/employers_set-JS.min.js.map

public/css/compiled/style.css
public/css/minified/custom.min.css
public/css/minified/style-employer.min.css
public/css/minified/widget.min.css
public/css/registration.css
public/fonts/vendor/bootstrap/glyphicons-halflings-regular.svg
public/js/app.js
public/js/candidate/role-app.js
public/mix-manifest.json
package-lock.json
package.json
composer.lock