.pricing-desc {
  font-weight: bold;
  line-height: 21px;
  min-height: 60px;
}

.pricing-img {
  height: 120px;
  margin-bottom: 30px;
}

.pricing-img--right {
  height: 80px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.pricing-subtitle {
  margin-bottom: 120px;
}

.pricing-title {
  color: $sky;
  font-family:'Montserrat-Regular';
  letter-spacing:3px;
}
