.emp-new-role {
  .middle-pane {
    .role__standard-content {
      float: left;
      padding: 0px 10px 10px;
      width: 100%;

      @include md-desktop {
        padding: 0px 15px 10px;
      }

      @include desktop {
        padding: 0px 30px 30px;
      }

      .role__declaration {
        float: left;
        font-weight: normal;
        margin: 10px 0px 5px;
        width: 100%;

        input[type=checkbox] {
          position: relative;
          top: 2px;
        }
      }
    }
  }
}