.my-pvm-job-list {
  list-style-type: none;
  margin: 0px auto;
  max-width: 1366px;
  padding: 0px;
  text-align: left;

  &.clr {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

    .MJL-handler {
      background-color: #fff;
      float: left;
      padding: 20px;
      width: 100%;

      .pvmJS__company-logo {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        height: 100px;
        margin: 0px 0px 25px;
      }

      .pvmJS__search-box {
        padding: 4px 5px;
        text-align: right;

        .pvmJS__search {
          float: left;
          height: 32px;
          margin: 0px 0px 10px;
          padding: 8px;
          width: 93.5%;
        }

        #pvmSearchMyJobsBtn {
          float: left;
          width: 5%;
        }

        .fa-search {
          background-color: #545454;
          color: #fff;
          cursor: pointer;
          float: left;
          font-size: 19px;
          height: 32px;
          line-height: 25px;
          //padding: 3px 5px;
          position: relative;
          text-align: center;
          top: 0px;
          width: 100%;
        }
      }

      #pvmGetMyJobs {
        float: left;
        width: 100%;
      }

      .pvmJS__group-title {
        color: #5c5c5c;
        display: none;
        font-family: "Montserrat", Arial, Serif;
        font-weight: normal;
        font-size: 14px;
        margin: 10px 0px 0px;
      }

      .pvmJS__group-title--groupings-on {
        display: block;
      }

      /*Job list*/
      .pvmJS__job-list {
        border-top: 2px solid #EDEDED;
        float: left;
        list-style-type: none;
        margin: 13px 0px 50px;
        padding: 25px 0px 0px;
        width: 100%;

        .pvmJS__job-item {
          border-bottom: 1px solid #EDEDED;
          float: left;
          width: 100%;

          .pvmJS__job-col {
            float: left;
            margin: 15px 0px 10px;
            padding: 0px 0px 15px;
            width: 100%;

            &:last-child {
              border-bottom: none;
            }

            .pvmJS__logo {
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              display: inline-block;
              float: left;
              height: 100px;
              vertical-align: top;
            }

            .pvmJS__logo--off {
              display: none;
            }

            .pvmJS__job-details {
              display: inline-block;
              float: left;
              margin: 0px 0px 0px 15px;
              position: relative;
              width: 79.95%;

              .pvmJS__job-title {
                color: #00AEED;
                font-family: "Montserrat", Arial, Serif;
                font-size: 18px;
                font-weight: normal;
                float: left;
                letter-spacing: 0.05em;
                margin: 0px 0px 10px;
                text-shadow: none;
                text-decoration: none;
                width: 90%;
                word-wrap: break-word;
              }

              .pvmJS__link-handler {
                font-size: 16px;
                position: absolute;
                top: 0px;
                right: 0px;

                .pvmJS__watch-link {
                  color: #02BFBF;
                  margin: 0px 5px 0px 0px;
                }

                .pvmJS__share-link {
                  color: #02BFBF;
                }
              }

              .pvmJS__det-handler {
                float: left;
                width: 100%;

                .pvmJS__job-desc {
                  color: #545454;
                  display: inline-block;
                  float: left;
                  font-family: "Montserrat", Arial, Serif;
                  font-size: 14px;
                  font-weight: normal;
                  letter-spacing: 0.05em;
                  margin: 0px 5px 20px 0px;
                  text-shadow: none;
                  width: 50%;
                  word-wrap: break-word;

                  &.full {
                    display: none;
                  }
                }

                .pvmJS__job-desc--vid-off {
                  width: 98%;
                }

                .pvmJS__job-desc--vid-none {
                  width: 98%;
                }

                .pvmJS__job-desc--column {
                  margin: 15px 0px 20px;
                }

                .pvmJS__video-con {
                  height: auto !important;
                  margin: 0px 0px 0px 10px;
                  position: relative;

                  .pvmJS__videos {
                    height: 150px;
                    width: 210px;
                  }
                }

                .pvmJS__video-con--on {
                  background-color: #f4f4f4;
                  display: inline-block;
                  height: 120px;
                  text-align: center;
                  vertical-align: top;
                  width: 35.5%;
                }

                .pvmJS__video-con--off {
                  display: none !important;
                }

                .pvmJS__video-con--none {
                  display: none !important;
                }

                .pvmJS__video-con--with {
                  background-color: transparent;
                }
              }

              .pvmJS__other-details {
                color: #aaa;
                font-size: 12px;
                font-family: "Montserrat", Arial, Serif;
                font-weight: 300;
                float: left;
                margin: 10px 0px 0px;
                position: relative;
                width: 100%;

                .fa {
                  margin: 0px 5px 0px 0px;
                }

                .pvmJS__location {
                  margin: 0px 20px 0px 0px;
                }

                .pvmJS__date-posted {
                  margin: 0px 20px 0px 0px;
                }

                .pvmJS__job-type {
                  margin: 0px 20px 0px 0px;
                }
              }
              
              .pvmJS__apply {
                display: none;
                float: right;
                margin: 10px 0px 15px;
                width: 100%;
                
                .pvmJS__apply-btn {
                  background-color: #00AEED;
                  color: #fff;
                  float: right;
                  font-family: "Montserrat", Arial;
                  font-size: 14px;
                  font-weight: 400;
                  letter-spacing: 0.03em;
                  padding: 5px;
                  text-align: center;
                  text-decoration: none;
                  text-transform: uppercase;
                  width: 100px;
                }
              }
            }

            .pvmJS__job-details--logo-off {
              width: 100%;

              .pvmJS__job-title {
                margin: 0px 0px 15px;
                width: 90%;
              }

              .pvmJS__link-handler {
                right: 15px;
              }

              .pvmJS__det-handler {
                .pvmJS__job-desc {

                }
              }
            }
          }

          .pvmJS__job-col--2 {
            min-height: 345px;
            width: 50%;

            &.pvmJS__no-desc {
              min-height: 200px;
            }

            .pvmJS__logo--sm {
              height: 50px;
            }

            .pvmJS__job-details {
              .pvmJS__job-title {
                min-height: 60px;
                margin: 0px 0px 0px 10px;
                width: 58%;
              }

              .pvmJS__det-handler {
                .pvmJS__video-con {
                  float: left;
                  margin: 20px 0px;
                  width: 100%;

                  .pvmJS__videos {
                    width: 230px;
                  }
                }

                .pvmJS__job-desc {
                  width: 100%;
                }

                .pvmJS__job-desc--vid-none {
                  width: 95%;
                }
              }

              .pvmJS__other-details {
                width: 95%;

                .pvmJS__location {
                  float: left;
                  margin: 0px 0px 5px;
                  width: 100%;
                }

                .pvmJS__date-posted {
                  float: left;
                  width: 40%;
                }

                .pvmJS__job-type {
                  float: left;
                  width: 35%;
                }
              }
            }

            .pvmJS__job-details--logo-off {

              .pvmJS__job-title {
                margin: 0px;
                width: 80%;
              }
            }
          }

          .pvmJS__job-col--3 {
            min-height: 345px;
            width: 33%;

            &.pvmJS__no-desc {
              min-height: 200px;
            }

            .pvmJS__logo--sm {
              height: 50px;
            }

            .pvmJS__job-details {
              .pvmJS__job-title {
                min-height: 80px;
                margin: 15px 0px 0px;
                width: 100%;
              }

              .pvmJS__det-handler {
                .pvmJS__job-desc {
                  width: 100%;
                }

                .pvmJS__video-con {
                  float: left;
                  margin: 20px 0px;
                  width: 100%;

                  .pvmJS__videos {
                    height: 120px;
                    min-width: initial;
                    width: 150px;
                  }
                }
              }

              .pvmJS__other-details {
                .fa {
                  min-width: 12px;
                }

                .pvmJS__location {
                  float: left;
                  width: 100%;
                }

                .pvmJS__date-posted {
                  float: left;
                  width: 100%;
                }

                .pvmJS__job-type {
                  float: left;
                  width: 100%;
                }
              }
            }

            .pvmJS__job-details--logo-off {
              .pvmJS__job-title {
                margin: 0px;
                width: 70%;
              }

              .pvmJS__det-handler {
                .pvmJS__job-desc {
                  width: 90%;
                }
              }

            }
          }
        }
      }

      .pvmJS__pvm-logo {
        display: block;
        height: 50px;
        margin: 0 auto;
      }
    }
}

.my-pvm-job-list--667 {
  .MJL-handler {
    .pvmJS__job-list {
      .pvmJS__job-item {
        .pvmJS__job-col {
          .pvmJS__job-details {
            width: 100%;

            .pvmJS__det-handler {
              .pvmJS__job-desc {
                width: 65%;
              }

              .pvmJS__video-con {
                float: left;
                margin: 0px 0px 0px 10px;
                width: 15%;

                .pvmJS__videos {
                  height: 160px;
                  min-width: initial;
                  width: 250px;
                }
              }
            }
          }

          .pvmJS__job-details--logo-off {

            .pvmJS__det-handler {
              .pvmJS__job-desc {
                width: 65%;
              }

              .pvmJS__job-desc--vid-none {
                width: 97%;
              }

              .pvmJS__job-desc--vid-off {
                width: 97%;
              }
            }

          }
        }

        .pvmJS__job-col--2 {
          min-height: 220px;

          &.pvmJS__no-desc {
            min-height: 150px;
          }

          .pvmJS__job-details {
            width: 97%;

            .pvmJS__job-title {
              min-height: 60px;
              width: 64%;
            }

            .pvmJS__det-handler {
              .pvmJS__job-desc {
                width: 100%;
              }
              
              .pvmJS__video-con {
                width: 23%;

                .pvmJS__videos {
                  height: 180px;
                  width: 310px;
                }
              }
            }
          }

          .pvmJS__job-details--logo-off {

            .pvmJS__job-title {
              margin: 0px;
              width: 86%;
            }

            .pvmJS__det-handler {

              .pvmJS__job-desc {
                width: 95%;
              }
            }

          }
        }

        .pvmJS__job-col--3 {
          min-height: 350px;

          &.pvmJS__no-desc {
            min-height: 200px;
          }

          .pvmJS__job-details {
            .pvmJS__job-title {
              margin: 0px 0px 0px 5px;
              min-height: 60px;
              width: 60%;
            }

            .pvmJS__det-handler {
              .pvmJS__job-desc {
                width: 100%;
              }
              
              .pvmJS__video-con {
                width: 23%;

                .pvmJS__videos {
                  height: 120px;
                  width: 220px;
                }
              }
            }
          }

          .pvmJS__job-details--logo-off {

            .pvmJS__job-title {
              margin: 0px;
              width: 80%;
            }

            .pvmJS__det-handler {

              .pvmJS__job-desc {
                width: 95%;
              }
            }

          }
        }
      }

    }
  }
}

.my-pvm-job-list--1024 {
  .MJL-handler {

    .pvmJS__search-box {
      .pvmJS__search {
        padding: 0px;
        width: 92.5%;
      }
    }

    .pvmJS__job-list {
      .pvmJS__job-item {
        .pvmJS__job-col {
          .pvmJS__job-details {
            width: 90.95%;

            .pvmJS__det-handler {
              .pvmJS__job-desc {
                width: 70%;
              }
              
              .pvmJS__video-con {
                float: left;
                margin: 0px 0px 20px 20px;
                width: 23%;

                .pvmJS__videos {
                  height: 120px;
                  min-width: initial;
                  width: 150px;
                }
              }
            }
          }

          .pvmJS__job-details--logo-off {
            width: 100%;

            .pvmJS__job-title {
              margin: 0px;
              width: 88%;
            }

            .pvmJS__det-handler {
              .pvmJS__job-desc {
              }

              .pvmJS__job-desc--vid-none {
                width: 95%;
              }

              .pvmJS__job-desc--vid-off {
                width: 95%;
              }
            }
          }
        }

        .pvmJS__job-col--2 {
          min-height: 200px;

          &.pvmJS__no-desc {
            min-height: 150px;
          }

          .pvmJS__job-details {
            width: 95%;

            .pvmJS__job-title {
              margin: 10px 0px 0px 20px;
              min-height: 45px;
              width: 75%;
            }

            .pvmJS__det-handler {
              .pvmJS__job-desc {
                width: 100%;
              }

              .pvmJS__video-con {
                float: left;
                margin: 20px 0px;
                width: 100%;

                .pvmJS__videos {
                  height: 200px;
                  width: 330px;
                }
              }
            }

            .pvmJS__other-details {
              width: 95%;

              .pvmJS__location {
                margin: 0px 20px 0px 0px;
                width: auto;
              }

              .pvmJS__date-posted {
                width: auto;
              }

              .pvmJS__job-type {
                width: auto;
              }
            }
          }

          .pvmJS__job-details--logo-off {
            .pvmJS__job-title {
              margin: 0px;
              min-height: 45px;
              width: 90%;
            }
          }
        }

        .pvmJS__job-col--3 {
          min-height: 230px;

          &.pvmJS__no-desc {
            min-height: 130px;
          }

          .pvmJS__job-details {
            width: 95%;

            .pvmJS__job-title {
              margin: 10px 0px 0px 20px;
              min-height: 45px;
              width: 74%;
            }

            .pvmJS__det-handler {
              .pvmJS__job-desc {
                width: 100%;
              }
              
              .pvmJS__video-con {
                float: left;
                margin: 0px 0px 20px 0px;
                width: 23%;

                .pvmJS__videos {
                  height: 150px;
                  width: 230px;
                }
              }
            }

            .pvmJS__other-details {
              .pvmJS__location {
                width: auto;
              }

              .pvmJS__date-posted {
                width: auto;
              }

              .pvmJS__job-type {
                width: auto;
              }
            }
          }

          .pvmJS__job-details--logo-off {
            .pvmJS__job-title {
              margin: 0px;
              min-height: 45px;
              width: 85%;
            }
          }
        }
      }

    }
  }
}